---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Skills from '../components/Skills.astro';
import Projects from '../components/Projects.astro';
import Goal from '../components/Goal.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Hero />
  <div class="section-divider">
    <svg viewBox="0 0 1440 60" preserveAspectRatio="none">
      <path class="divider-wave" d="M0,30 C360,60 720,0 1440,30 L1440,60 L0,60 Z" />
    </svg>
  </div>
  <About />
  <div class="section-divider">
    <svg viewBox="0 0 1440 60" preserveAspectRatio="none">
      <path class="divider-wave" d="M0,30 C360,0 720,60 1440,30 L1440,60 L0,60 Z" />
    </svg>
  </div>
  <Skills />
  <div class="section-divider">
    <svg viewBox="0 0 1440 60" preserveAspectRatio="none">
      <path class="divider-mountain" d="M0,60 L240,10 L480,40 L720,5 L960,35 L1200,15 L1440,45 L1440,60 Z" />
    </svg>
  </div>
  <Projects />
  <div class="section-divider">
    <svg viewBox="0 0 1440 60" preserveAspectRatio="none">
      <path class="divider-wave" d="M0,30 C360,60 720,0 1440,30 L1440,60 L0,60 Z" />
    </svg>
  </div>
  <Goal />
  <div class="section-divider">
    <svg viewBox="0 0 1440 60" preserveAspectRatio="none">
      <path class="divider-mountain" d="M0,60 L200,15 L400,40 L600,8 L800,35 L1000,12 L1200,42 L1440,20 L1440,60 Z" />
    </svg>
  </div>
  <Contact />
  <div class="section-divider">
    <svg viewBox="0 0 1440 60" preserveAspectRatio="none">
      <path class="divider-wave" d="M0,30 C360,60 720,0 1440,30 L1440,60 L0,60 Z" />
    </svg>
  </div>
  <Footer />
</Layout>
